<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aboukhari.intertalking" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />

        <receiver
            android:name=".adapter.MyReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".activity.Login"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".activity.ChatRoom"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".activity.GeoNames"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.RegistrationActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.profile.ProfileView"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.profile.ProfileEdit"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.search.FindUsers"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.registration.SignUpEmail"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.search.FilterUsers"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.main.Main3Activity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
