<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aboukhari.intertalking" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/chat_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />

        <receiver
            android:name=".adapter.MyReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />




        <activity
            android:name=".activity.Login"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".activity.ChatRoom"
            android:label="@string/title_activity_chat_room"
            android:windowSoftInputMode="stateVisible|adjustPan"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait" >

        </activity>
        <activity
            android:name=".activity.main.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.GeoNames"
            android:label="@string/title_activity_geo_names"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.RegistrationActivity"
            android:label="@string/title_activity_main2"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.profile.ProfileView"
            android:label="@string/title_activity_profile_view"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.profile.ProfileEdit"
            android:label="@string/title_activity_profile_edit"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.search.FindUsers"
            android:label="@string/title_activity_find_users"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.registration.SignUpEmail"
            android:label="@string/title_activity_find_users"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.search.FilterUsers"
            android:label="@string/title_activity_filter_users"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
    </application>

</manifest>
